prettier.config.js
tsconfig.json
src/
dist/tests/
.eslintignore
.eslintrc
.gitignore
.huskyrc
jest.config.js
coverage/
scripts/
.config/
.npm/
.vscode/
*.Jenkinsfile
node_modules/
.config/
.npmrc
assets/
report.*.json
