prettier.config.js
.prettierignore
tsconfig.json
src/
dist/tests/
.eslintignore
.eslintrc
.gitignore
.huskyrc
jest.config.js
coverage/
scripts/
.config/
.npm/
.vscode/
node_modules/
.config/
.npmrc
assets/
report.*.json
stryker.conf.json
reports
